{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<header class="row gx-5" style="height:800px; margin: 0px 300px 0px 300px">
    <form class="col-6" style="width:470px; padding-top: 250px;" id='buy/pick-form' action="{% url 'items:picking' %}" method="POST">
        {% csrf_token %}
        <h1 class="fw-bold mb-5">{{item_detail.header_title}}</h1>
        <label class='form-label' for="">용량</label>
        <select class='form-select mb-3' name="volume" form="buy/pick-form">
            <option selected>= 용량 선택 =</option>
            <option value="200">200</option>
        </select>
        <label class='form-label' for="">분쇄도</label>
        <select class='form-select mb-3' name="smashed" form="buy/pick-form">
            <option selected>= 분쇄도 선택 : 가격 =</option>
            <option value="홀빈(갈지않음)">홀빈(갈지않음)</option>
            <option value="핸드드립/커피메이커">핸드드립/커피메이커</option>
            <option value="프렌치프레스">프렌치프레스</option>
            <option value="모카포트">모카포트</option>
            <option value="에어로프레스">에어로프레스</option>
            <option value="에스프레소머신">에스프레소머신</option>
            <option value="콜드브루/더치">콜드브루/더치</option>
        </select>
        <div class="d-flex justify-content-end mb-2">
            <div class="mb-0 me-2 pt-2 align-middle">수량</div>
            <input type="text" name="amount" class="form-control border border-grey text-center" style="width:45px">
        </div>
        <div class="d-flex justify-content-between">
            <button id="buy-button" type="button" class="btn btn-dark rounded-0"><a class="text-decoration-none text-white" href="">구매하기</a></button>
            <!-- 버튼을 누르면 페이지의 item_pk 값이 전송된다. -->
            <!-- popover 작동 안 됨 -->
            <button id="pick-button" type="submit" 
                class="btn btn-outline-dark rounded-0" name="item_picked" value="{{item_pk}}"
                data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="추가되었습니다">
                장바구니
            </button>
            <!-- 버튼을 누르면 장바구니에 담겼다는 popover창이 뜬다 -->
        </div>
    </form>
    <!-- header 우측 -->
    <div class="col-6" style="padding-left: 150px;">
        <img src={{item_detail.header_image}} alt="상품이미지">
    </div>

</header>
<!-- header, main 사이 : fact_sheet, about_this_coffee -->
<!-- <div class="row bg-white py-5" style="height:380px; margin: 0px 300px 0px 300px;">
    <div class="col-4 ps-5" >
        <p class="fw-semibold">FACT SHEET</p>
        <div class="mt-5">
            <div class="d-flex flex-column">
                <span>생산자</span>
                <span class="mt-2">농장</span>
                <span class="mt-2">지역</span>
                <span class="mt-2">품종</span>
                <span class="mt-2">가공</span>
                <span class="mt-2">로스팅</span>
            </div>
            <div class="ms-3">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col-8 ps-5 border-start">
        <p class="fw-semibold">ABOUT THIS COFFEE</p>
        <div>
            <div class="mt-5">
                <p>title </p>
                <p>content </p>
            </div>
        </div>
    </div>
</div> -->

<main class='mt-5 pt-5' style='margin: 0px 300px 0px 300px;'>
    <div id="carouselExampleControls" class="carousel slide ms-5 ps-5" data-bs-ride="carousel">
        <div class="carousel-inner">
        <!-- 다른 모든 상품들 링크 carousel로 바꾸기 : 3개씩 -->
          <div class="carousel-item active">
            <div class="d-flex">
                <img src={{item_details.1.header_image}} class="d-block" alt="..." style="height: 400px;">
                <img src={{item_details.2.header_image}} class="d-block" alt="..." style="height: 400px;">
                <img src={{item_details.12.header_image}} class="d-block" alt="..." style="height: 400px;">
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex">
                <img src={{item_details.13.header_image}} class="d-block" alt="..." style="height: 400px;">
                <img src={{item_details.5.header_image}} class="d-block" alt="..." style="height: 400px;">
                <img src={{item_details.6.header_image}} class="d-block" alt="..." style="height: 400px;">
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex">
                <img src={{item_details.7.header_image}} class="d-block" alt="..." style="height: 400px;">
                <img src={{item_details.8.header_image}} class="d-block" alt="..." style="height: 400px;">
                <img src={{item_details.17.header_image}} class="d-block" alt="..." style="height: 400px;">
            </div>
          </div>
        
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <!-- <div class="d-flex bg-light align-items-center mt-5" >
        <img src="https://dummyimage.com/800x1200/8a8a8a/fff"alt="image">
        <div class="ms-5">
            <h5>title </h5>
            <p>content </p>
        </div>
    </div> -->
    <!-- <div class="d-flex bg-light align-items-center mt-5" >
        <img src="https://dummyimage.com/800x1200/8a8a8a/fff" alt="image">
        <div class="ms-5">
            <h5>title </h5>
            <p>content </p>
        </div>
    </div>
    <div class="d-flex bg-light align-items-center mt-5" >
        <img src="https://dummyimage.com/800x1200/8a8a8a/fff" alt="image">
        <div class="ms-5">
            <h5>title </h5>
            <p>content </p>
        </div>
    </div> -->
    <div class="p-5 m-5">
        <div class="my-5" style="height:400px">
            <h1 class="mb-3">SHIPPING & DELIVERY</h1>
            <div class="mt-5">
                <!-- dropdown 추가 -->
                <div class="p-4 bg-light fw-bold">배송안내</div>
                <div class="p-4 bg-light fw-bold">교환/환불 안내</div>
                <div class="p-4 bg-light fw-bold">카카오톡 문의</div>
            </div>
        </div>
        <!-- review -->
        <div class="mt-5">
            <h1>REVIEW</h1>
            <div class="d-flex align-items-start justify-content-center">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th style="width:5%"scope="col">번호</th>
                            <th scope="col">제목</th>
                            <th style="width:15%" scope="col">작성자</th>
                            <th style="width:25%"scope="col">작성일</th>
                          </tr>
                    </thead>
                    <tbody class="bg-light">
                    {% for i in review %}
                        <tr>
                            <th class="py-3" scope="row">{{i.pk}}</th>
                            <hr>
                            <td class="py-3"><a href="{% url 'reviews:detail' i.pk %}" class='text-decoration-none ' style='color:black '>{{i.title}}</a></td>
                            <hr>
                            <td class="py-3"><a href="{% url 'accounts:mypage' i.user.pk %}" class='text-decoration-none ' style='color:black '>{{i.user.username}}</a></td>
                            <hr>
                            <td class="py-3">{{i.created_at}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
        <a href="{% url 'reviews:create' item_pk  %}" class='text-decoration-none d-flex justify-content-end mb-5' style='color:black '><i class="bi bi-pencil">리뷰 작성</i></a>
        </div>
    <!-- <div class="mt-5 p-5 bg-light">
        <h1 class="pt-5">RECOMMEND</h1>
        <div class="my-5 p-5 d-flex justify-content-center bg-secondary" style="width:1100 px;height:700px;">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </div> -->
</main>
<footer id='detail-footer' class='d-flex align-items-center bg-light text-white'>
    <div style="margin-left: 200px;">
        <h1 class="fw-bold">SUBSCRITIONS</h1>
        <h4 class="fw-bold my-3">빈 브라더스 커피 구독 서비스</h4>
        <p style="line-height:25px">무궁무진한 커피 세계를 탐험하세요.<br>
            매월 새로운 추천 커피를 할인된 가격에 무료배송으로<br>
            모자르거나 남는 걱정없이 스케줄을 조정하고 정지할 수 있어요.
        </p>
        <div class="d-flex mt-5">
            <button type="button" class="btn rounded-0 bg-white fw-bold" style="padding:10px 50px 10px 50px">구독하기</button>
            <button type="button" class="btn rounded-0 text-white border-white ms-2 fw-bold" style="padding:10px 50px 10px 50px">샘플러신청</button>
        </div>
    </div>
</footer>
{% endblock %}
