<!-- 빈브라더스 외의 다른 커피점 상품도 추후 추가 -->
{% extends 'base.html' %}
{% block body %}
<!-- 상품 카테고리 -->
<div class="d-flex align-itmes-center fs-5 text-muted fw-light"style="margin-top:1rem">
    <p class="ms-5">NEW</p>
    <p class="ms-5">원두</p>
    <p class="ms-5">드립백</p>
    <p class="ms-5">콜드브루</p>
    <p class="ms-5">캡슐커피</p>
    <p class="ms-5">선물세트</p>
    <p class="ms-5">커피용품</p>
    <p class="ms-5">클래스/워크샵</p>
</div>
<!-- 상품 목록 -->
<div class="row row-cols-1 row-cols-md-3 g-4 my-3">
    <div class="col">
        <div class="card border border-0 p-3">
            <img src="https://dummyimage.com/424x424/7a7a7a/fff" alt="상품이미지예정">
            <div class="card-body">
                <h5 class="card-title fw-semibold text-center">상품명</h5>
                <div class="card-text text-center">상품영문명칭</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-0 p-3">
            <img src="https://dummyimage.com/424x424/7a7a7a/fff" alt="상품이미지예정">
            <div class="card-body">
                <h5 class="card-title fw-semibold text-center">상품명</h5>
                <div class="card-text text-center">상품영문명칭</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-0 p-3">
            <img src="https://dummyimage.com/424x424/7a7a7a/fff" alt="상품이미지예정">
            <div class="card-body">
                <h5 class="card-title fw-semibold text-center">상품명</h5>
                <div class="card-text text-center">상품영문명칭</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-0 p-3">
            <img src="https://dummyimage.com/424x424/7a7a7a/fff" alt="상품이미지예정">
            <div class="card-body">
                <h5 class="card-title fw-semibold text-center">상품명</h5>
                <div class="card-text text-center">상품영문명칭</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-0 p-3">
            <img src="https://dummyimage.com/424x424/7a7a7a/fff" alt="상품이미지예정">
            <div class="card-body">
                <h5 class="card-title fw-semibold text-center">상품명</h5>
                <div class="card-text text-center">상품영문명칭</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-0 p-3">
            <img src="https://dummyimage.com/424x424/7a7a7a/fff" alt="상품이미지예정">
            <div class="card-body">
                <h5 class="card-title fw-semibold text-center">상품명</h5>
                <div class="card-text text-center">상품영문명칭</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-0 p-3">
            <img src="https://dummyimage.com/424x424/7a7a7a/fff" alt="상품이미지예정">
            <div class="card-body">
                <h5 class="card-title fw-semibold text-center">상품명</h5>
                <div class="card-text text-center">상품영문명칭</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-0 p-3">
            <img src="https://dummyimage.com/424x424/7a7a7a/fff" alt="상품이미지예정">
            <div class="card-body">
                <h5 class="card-title fw-semibold text-center">상품명</h5>
                <div class="card-text text-center">상품영문명칭</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border border-0 p-3">
            <img src="https://dummyimage.com/424x424/7a7a7a/fff" alt="상품이미지예정">
            <div class="card-body">
                <h5 class="card-title fw-semibold text-center">상품명</h5>
                <div class="card-text text-center">상품영문명칭</div>
            </div>
        </div>
    </div>
</div>
<!-- 페이지네이션 -->
<nav aria-label="..." class="my-5 d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item active" aria-current="page">
        <span class="page-link">1</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
    </ul>
</nav>
{% endblock %}