{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java chip</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'items/style.css' %}">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/924/924514.png">
    {% bootstrap_css %}
    {% block css %}{% endblock css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    {% block script %}{% endblock script %}
</head>

<!-- nav-bar -->

<body>
    <nav class="sticky-top">
      <div class="wrapper">
        <div class="logo"><a href="{% url 'index' %}">Java chip</a>&nbsp;&nbsp;&nbsp;
        <img src="https://cdn-icons-gif.flaticon.com/6172/6172525.gif" alt="" width="30px" href=""></img>
        </div>
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <ul class="nav-links">
          <li><div>
            <a href="" class="desktop-item"><b>커피구독</b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="" class="desktop-item"><b>SHOP</b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="" class="desktop-item"><b>ABOUT</b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="mega-box">
              <div class="content">
                <div class="row">
                  <ul class="mega-links">
                    <li><a href=""><b>샘플러신청</b></a></li>
                    <li><a href=""><b>구독신청</b></a></li>
                  </ul>
                </div>

                <div class="navbar-nav">
                    {% if request.user.is_authenticated %}
                    <div class="navbar-nav fw-bold">
                        <a class="nav-link" aria-current="page" href="{% url 'accounts:mypage' request.user.pk %}">
                            {{ request.user }}</a>
                    </div>
                    <div class="navbar-nav fw-bold">
                        <a class="nav-link" aria-current="page" href="{% url 'accounts:logout' %}">
                            로그아웃</a>
                    </div>
                    {% else %}
                    <div class="navbar-nav fw-bold">
                        <a class="nav-link" aria-current="page" href="{% url 'accounts:login' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;로그인</a>
                    </div>
                    <div class="navbar-nav fw-bold">
                        <a class="nav-link" aria-current="page" href="{% url 'accounts:signup' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;회원가입</a><br>
                    </div>
                    <div class="navbar-nav fw-bold">
                        <a class="nav-link" aria-current="page" href="">                   
                            &nbsp;&nbsp;&nbsp;<img src="https://cdn-icons-gif.flaticon.com/6416/6416388.gif" alt="" width="30px"></a>
                    </div>
                    {% endif %}

                <div class="row">
                  <ul class="mega-links">
                    <li><a href=""><b>NEW</b></a></li>
                    <li><a href=""><b>원두</b></a></li>
                    <li><a href=""><b>드립백</b></a></li>
                    <li><a href=""><b>콜드브루</b></a></li>
                    <li><a href=""><b>캡슐커피</b></a></li>
                    <li><a href=""><b>선물세트</b></a></li>
                    <li><a href=""><b>커피용품</b></a></li>
                    <li><a href=""><b>클래스/워크샵</b></a></li>
                  </ul>
                </div>
                <div class="row">
                  <ul class="mega-links">
                    <li><a href=""><b>브랜드</b></a></li>
                    <li><a href=""><b>매장안내</b></a></li>
                    <li><a href=""><b>납품 및 컨설팅</b></a></li>
                    <li><a href=""><b>오피스 커피구독</b></a></li>
                    <li><a href=""><b>커피위키</b></a></li>
                    <li><a href=""><b>아카이브</b></a></li>
                  </ul>
                </div>
              </div>
            </div>
              <div class="navbar-nav">
              {% if request.user.is_authenticated %}
              <div class="navbar-nav fw-bold">
                  <a class="nav-link" aria-current="page" href="{% url 'accounts:mypage' request.user.pk %}">
                      {{ request.user }}</a>
              </div>
              <div class="navbar-nav fw-bold">
                  <a class="nav-link" aria-current="page" href="{% url 'accounts:logout' %}">
                      로그아웃</a>
              </div>
              {% else %}
            <div><li><a href="{% url 'accounts:login' %}"><b>로그인</b></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li><a href="{% url 'accounts:signup' %}"><b>회원가입</b></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li><img src="https://cdn-icons-gif.flaticon.com/6416/6416388.gif" alt="장바구니" width="30px" href="{% url 'index' %}"></img></li>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </body>{% block body %}{% endblock body %}
    
  {% bootstrap_javascript %}
  
    <!-- footer -->

    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
      
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            COPYRIGHT(C) Java chip. ALL RIGHTS RESERVED. HOSTING BY 19팀(주). DESIGN BY 19팀
        </div>
        <!-- Copyright -->
      </footer>
</html>