{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block body %}

<!-- carousel -->

<div class="container-fluid" style="padding: 0px; margin-right: auto; margin-left: auto;">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://cdn-pro-web-210-60-godomall.spdycdn.net/ablestory_godomall_com/data/skin/front/designwib_C/img/banner/3d88deb4ff3475cb1e4e3b74d87f4155_45847.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://cdn-pro-web-210-60-godomall.spdycdn.net/ablestory_godomall_com/data/skin/front/designwib_C/img/banner/b867a98ed2b1939bbecbf10f4553f1c9_76991.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://cdn-pro-web-210-60-godomall.spdycdn.net/ablestory_godomall_com/data/skin/front/designwib_C/img/banner/5d8d8d7d06e357c6e23b3b9d64147ec7_36000.jpg" class="d-block w-100" alt="...">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
</div>

{% endblock body %}