#detail-footer {
    background-image: url('https://cdn-pro-web-210-60-godomall.spdycdn.net/ablestory_godomall_com/data/skin/front/designwib_C/img/banner/6ced995909acee292418214e450c2e8c_54233.jpg');
    height: 700px;
    background-size: cover;
}

#items:hover{
    background-color: lightgray;
}

#buy-button {
    padding: 10px 70px 10px 70px;
    text-decoration:none;
    text-decoration-line: none;
}

#buy-button:hover{
    background-color: white;
    padding: 10px 70px 10px 70px;
    color:black;
    text-decoration:none;
    text-decoration-line: none;
}

#pick-button{
    padding: 10px 70px 10px 70px;
    text-decoration: none;
    color:black;
    background-color: white;
    border: 1px solid;
    border-color: black;
}

#pick-button:hover{
    background-color: black;
    color:white;
}

#pagination li {
    padding: 10px 0px 10px 0px;
}

#pagination li a{
    padding: 10px 20px 10px 20px;
}


#pagination li a:active{
    background-color: lightgrey;
}

#pagination li:hover{
    background-color: lightgrey;
}

#pagination li a{
    text-decoration: none;
}

#item-category{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

#item-category p{
    padding: 20px 5px 20px 5px;
    margin-bottom: 0px;
}

#item-category p a{
    padding: 20px;
    margin-bottom: 0px;
}

#item-category p:hover{
    background-color: lightgrey;
}

#pick-table{
    border-top:1px solid;
    border-top-color: grey;
}

#picked_item_info a{
    text-decoration: none;
    text-decoration-line: none;
    color: black;
}

#pick_action a{
    color:black;
    text-decoration: none;
    text-decoration-line: none;
}

#pick_action button:hover{
    background-color: lightgray;
    color:black;
}

/* #pick-deliver dl dt{

} */