#detail-footer {
    background-image: url('https://cdn-pro-web-210-60-godomall.spdycdn.net/ablestory_godomall_com/data/skin/front/designwib_C/img/banner/6ced995909acee292418214e450c2e8c_54233.jpg');
    height: 700px;
    background-size: cover;
}

#buy-button{
    padding:10px 85px 10px 85px;
}

a {
    text-decoration: none;
    color:black;
}

#pick-button{
    padding:10px 85px 10px 85px;
    text-decoration: none;
    color:black;
}
