{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block body %}


<div class="contents">
    <div class="sidemenu d-block float-start">
        <div class="sub_box">
            <h2>마이페이지</h2>
            <ul>
                <li>
                    <a href="#">구독 관리</a>
                </li>
                <li>
                    <a href="#">주문/배송 조회</a>
                </li>
                <li>
                    <a href="#">쿠폰/적립금</a>
                </li>
                <li>
                    <a href="#">문의 내역</a>
                </li>
                <li>
                    <a href="#">나의 리뷰</a>
                </li>
                <li>
                    <a href="{% url 'accounts:update' %}">회원정보 수정</a>
                </li>
                <li>
                    <a href="#">회원 탈퇴</a>
                </li>
            </ul>
        </div>
    </div>

<div class="container mypage_summary d-block float-end">
    <h2> <b>{{ user }}님</b> 안녕하세요!</h2>
    <div>
        <div>
            {% if request.user.is_authenticated %}
            {% if request.user != user %}
                {% if request.user in user.followers.all %}
                <span id="follow" data-user-id="{{ user.pk }}" class="btn btn-light">팔로잉</span>
                {% else %}
                <span id="follow" data-user-id="{{ user.pk }}" class="btn btn-dark">팔로우</span>
                {% endif %}
            {% endif %}
            {% endif %}
        </div>
        <div class="d-flex">
            <p>팔로워 {{ user.followers.count }}</p>
            <p>팔로우 {{ user.followings.count }}</p>
        </div>
    </div>

<!-- 리뷰페이지 완성 후 구현 예정-->
<div class="container">
    <h3> 나의 리뷰 </h3>
</div>
<!-- 좋아요 기능 추가되면 구현 예정-->
<div class="container">
    <h3> 좋아요 누른 글 </h3>
    <p>{{ review.like_users.count }}</p>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const followBtn = document.querySelector('#follow')
    followBtn.addEventListener('click', function(event) {
        axios({
            method: 'get',
            url: `/accounts/follow/${event.target.dataset.userId}/`
        })
        .then(response => {
            if( response.data.is_followed == true) {
                event.target.classList.remove('btn-dark')
                event.target.classList.add('btn-light')
                followBtn.innerText= '팔로잉'
            } else {
                event.target.classList.remove('btn-light')
                event.target.classList.add('btn-dark')
                followBtn.innerText='팔로우'
            }
            const followers = document.querySelector('#followers')
            const followings = document.querySelector('#followings')
            followers.innerText = response.data.followersC
            followings.innerText = response.data.followingsC
        })
    })
</script>

{% endblock %}