{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block body %}


<div class="contents">
    <div class="sidemenu">
        <div class="sub_box">
            <h2>마이페이지</h2>
            <ul>
                <li>
                    <a href="#">구독 관리</a>
                </li>
                <li>
                    <a href="#">주문/배송 조회</a>
                </li>
                <li>
                    <a href="#">쿠폰/적립금</a>
                </li>
                <li>
                    <a href="#">문의 내역</a>
                </li>
                <li>
                    <a href="#">나의 리뷰</a>
                </li>
                <li>
                    <a href="{% url 'accounts:update' %}">회원정보 수정</a>
                </li>
                <li>
                    <a href="{% url 'accounts:delete' %}">회원 탈퇴</a>
                </li>
            </ul>
        </div>
    </div>

<div class="container mypage_summary">
    <h2> <b>{{ user.username }}님</b> 안녕하세요!</h2>
    <div>
        <div>
            {# 팔로우 버튼 #}
            {% if request.user.is_authenticated %}
            {% if request.user != user %}
            <form id='follow-form' data-user-id='{{ user.pk }}' >
                {% csrf_token %}
                {% if request.user in user.followers.all %}
                <input type='submit' class="btn btn-outline-danger mb-3" value="언팔로우" >
                {% else %}
                <input type='submit' class="btn btn-outline-success mb-3" value="팔로우">
                {% endif %}
            </form>
            {% endif %}
            {% endif %}
        </div>
        <div class="d-flex">
            <p style="font-family: 'ONE-Mobile-POP';">
                팔로워 : <span id ='followers-count'>{{ user.followers.all|length }} </span>
                팔로잉 : <span id ='followings-count'>{{ user.followings.all|length }} </span>
            </p>
        </div>
    </div>

<!-- 리뷰페이지 완성 후 구현 예정-->

    <h3> 나의 리뷰 </h3>
    <div class="container">
        <div class="row">
        {% for review in user.review_set.all %}
            <div class="col-6 col-sm-3">
                <!--작성된 리뷰에 이미지가 있다면 해당 이미지 파일 출력-->
                {% if review.image %}
                        <a href="{% url 'reviews:detail' review.pk %}"><img src="{{ review.image.url }}" alt="{{ review.image }}" class="img-thumbnail" ></a>
                {% else %}
                <!-- 작성된 리뷰에 이미지가 없을 시 더미 이미지 출력-->
                    <a href="{% url 'reviews:detail' review.pk %}"><img src="https://dummyimage.com/100/000/fff" class="img-thumbnail"></a>
                {% endif %}
                <div class="d-flex">
                    {% if request.user.is_authenticated %}
                    <span>
                        <form data-review-id='{{ review.pk }}' id='like-btn' class="like-heart">
                          {% csrf_token %}
                          <button style='background-color:transparent; border:none;' class='review-detail-like-btn' type='submit'>
                            {% if request.user in review.like_users.all %}
                              <i style='color:red' class="bi bi-heart-fill"></i>
                              <span id='review-like-user-cnt'>{{ review.like_users.count }} 개</span>
                            {% else %}
                              <i style='color:red' class="bi bi-heart"></i>
                              <span id='review-like-user-cnt'>{{ review.like_users.count }} 개</span>
                            {% endif %}
                          </button>
                        </form>
                    </span>
                    {% endif %}
                    <p> 댓글 {{ review.comment_set.count }} 개 </p>
                </div>
            </div>
        {% endfor %}    
        </div>
    </div>


    <h3> 좋아요 누른 글 </h3>
    <div class="container">
    <div class="row">
        {% for review in user.like_reviews.all %}
            <div class="col-6 col-sm-3">
                {% if review.image %}
                    <a href="{% url 'reviews:detail' review.pk %}"><img src="{{ review.image.url }}" alt="{{ review.image }}" class="img-thumbnail" ></a>
                {% else %}
                    <a href="{% url 'reviews:detail' review.pk %}"><img src="https://dummyimage.com/100/000/fff" class="img-thumbnail"></a>
                {% endif %}
                <div class="d-flex">      
                    <p> 좋아요 {{ review.like_users.count }} 개 </p>
                    <p> 댓글 {{ review.comment_set.count }} 개 </p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

<!--장바구니 기능 추가시 구현 예정 -->
<div class="container">
    <h3> 장바구니에 담은 상품 </h3>

</div>

<script src='{% static "js/accounts/follower.js" %}'></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}

